@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
nav{
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 27px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav ul li{
    margin-right: 35px;
}
nav ul li a {
    text-decoration:none;
}
.login{
    font-size: 15px;
    text-align: center;
    width: 132px;
    color: #FB8F1D;
    background-color:white;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FB8F1D;
}
.register{
    font-size: 15px;
    text-align: center;
    width: 132px;
    color:whitesmoke;
    background-color:#FB8F1D;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FB8F1D;

}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.my-select{
    border: 1px solid gray;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.my-select-container{
    margin: 0 -15px;
}
.explore{
    margin: 15px;
    font-size: 15px;
    text-align: center;
    width: 132px;
    color:whitesmoke;
    background-color:#FB8F1D;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FB8F1D;
}
p.textp{
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
}
.learnmore{
    margin-top: 33px;
    font-size: 15px;
    text-align: center;
    width: 132px;
    color:whitesmoke;
    background-color:#FB8F1D;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FB8F1D;

}
.texth1{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
button.viewall {
    color: #FB8F1D;
    size: 17px;
}
.grid-card {
    display: flex;
    grid-gap: 30px;
}
.grid-card .box{
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
button.explore {
    margin-top: 33px;
}
img {
    margin-top: 0px;
}
.checked {
    color: orange;
  }
h2.star {
    margin-top: 135px;
}
.nameman{
    font-family: 'Inter', sans-serif;
}
.bg-white.rounded-lg.absolute.right-0.bottom-0.p-2.max-w-100 {
    display: flex;
}
img.img1 {
    margin-right: 11px;
}
h2.h2.font-bold {
    margin-top: 40px;
    font-size: 22px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px
  }
  
  .previous {
    background-color: rgb(211, 202, 202);
    color: grey
  }
  .next {
    background-color: black;
    color:white;
  }
  .round {
    border-radius: 50%;
    border-radius: 8px
  }
  img.man {
    border-radius: 10px;
}
.main{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    box-sizing: border-box;
    width: 50%;
}

section.lasttext {
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
}