@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
nav{
    margin-top: 35px;
    margin-bottom: 27px;
}
nav ul li{
    margin-right: 35px;
}
.login{
    font-size: 15px;
    width: 132px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
}
.register{
    font-size: 15px;
    width: 132px;
    height: 44px;
    border-radius: 8px;
    border: 1px;
}
.my-select{
    border: 1px solid gray;
}
.my-select-container{
    margin: 0 -15px;
}
p.textp{
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
}
.learnmore{
    font-size: 15px;
    width: 132px;
    height: 44px;
    border-radius: 8px;
}
.texth1{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

.checked {
    color: orange;
  }
h2.star {
    margin-top: 135px;
}
.nameman{
    font-family: 'Inter', sans-serif;
}
.bg-white.rounded-lg.absolute.right-0.bottom-0.p-2.max-w-100 {
    display: flex;
}
img.img1 {
    margin-right: 11px;
}
h2.h2.font-bold {
    margin-top: 40px;
    font-size: 22px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px
  }
  
  .previous {
    background-color: rgb(211, 202, 202);
    color: grey
  }
  .next {
    background-color: black;
    color:white;
  }
  .round {
    border-radius: 50%;
    border-radius: 8px
  }
  img.man {
    border-radius: 10px;
}
.main{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    box-sizing: border-box;
    width: 50%;
}

section.lasttext {
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
}


